body {
  background: #352f5b;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: rgb(29, 1, 1);
  border: none;

  max-width: 400px;
}
.todos li {
  background: #a9a6ba;
}
.delete {
  cursor: pointer;
}
.add {
  color: rgb(29, 1, 1);
}
